/*
  Student Name: Melissa Lutz
  File Name: styles.css
  Date: February 16, 2025
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background: linear-gradient(to right, #f2a2ce, #ffcccc, #f2a2ce);
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

/* Style rules for mobile */
/* Style rules for header */
header {
  top: 0;
  height: 25%;
  width: 100%;
}

#heroImage {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}

/* Nav Style rules */
nav {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.25em;
  border-top: 2px solid hotpink;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  background: black;
  color: lightpink;
  width: 100%;
}

nav li:first-child {
  border-top: none;
}

.header-nav-container {
  display: flex;
  flex-direction: column; /* Mobile: header comes first, then nav */
}

.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* Style rules for main content */
main {
  padding: 2%;
}

figure {
  border: 4px solid rgb(178, 77, 111);
  box-shadow: 6px 6px 10px hotpink;
  max-width: 400px;
  margin: 2% auto;
}

figcaption {
  padding: 2%;
  border-top: 4px solid rgb(178, 77, 111);
}

footer {
  background-color: black;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
  /* Tablet Viewport: Show tablet-desktop-class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Table Viewport: Style rule for header */
  .header-nav-container {
    display: flex;
    flex-direction: column;
  }

  header {
    position: static;
    padding-bottom: 2%;
    order: 2; /* Change the order so nav comes before header */
  }

  /* Table Viewport: Style rules for nav area */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 20px 40px;
    order: 1; /* nav comes before header */
    position: sticky;
    top: 0; /* Stick at the top of the viewport */
    z-index: 1000;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    padding: 10px;
    margin: 0;
  }

  nav li {
    font-size: 1.5em;
    border: none;
  }

  nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    line-height: 1;
    text-decoration: none;
    background: black;
    color: lightpink;
  }

  /* Tablet Viewport: Style rules for main content area */
  main ul {
    margin: 0 0 4% 10%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .grid-img {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1500px), print {
  /*Desktop Viewport: Style rule for Header */
  header {
    float: left;
    padding-bottom: 0;
  }

  /*desktop Viewport: Style rules for nav area */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 20px 40px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 10em;
    padding: 10px;
    margin: 0;
  }

  nav li {
    font-size: 3em;
  }

  nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    line-height: 1;
    text-decoration: none;
    background: black;
    color: lightpink;
    border: 5px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  nav ul li a:hover {
    border-color: palevioletred;
    color: palevioletred;
    background-color: black;
    padding: 10px 20px;
  }

  /*Desktop Viewport: Style Rules for main content */
  main {
    clear: left;
  }

  main h1 {
    font-size: 1.8em;
  }

  .grid-img {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  body img {
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
