/*
  Student Name: Melissa Lutz
  File Name: styles.css
  Date: February 16, 2025
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body {
  background: linear-gradient(to right, #f2a2ce, #ffcccc, #f2a2ce);
}

img {
  max-width: 100%;
  display: block;
}

/* For Box Shadow Requirement */
blockquote {
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(253, 255, 253, 0.3), 0 0 0 2px Black,
    0.5em 0.5em 1em rgb(200 0 0 / 60%);
}

/* Style rules for mobile */
/* Style rules for header */
header {
  top: 0;
  height: 25%;
  width: 100%;
}

header img {
  margin: 0 auto;
}

/* Nav Style rules */
nav {
  background-color: black;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.25em;
  border-top: 2px solid hotpink;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  background: black;
  color: lightpink;
  width: 100%;
}

nav li:first-child {
  border-top: none;
}

.mobile {
  display: block;
}

.tablet-desktop {
  display: none;
}

/* Style rules for main content */
main {
  padding: 2%;
}
section {
  grid-template-columns: 1fr;
}

.item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}

footer {
  background-color: black;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
  /* Tablet Viewport: Show tablet-desktop-class, hide mobile class */
  .tablet-desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Table Viewport: Style rule for header */
  header {
    position: static;
    padding-bottom: 2%;
  }

  /* Table Viewport: Style rules for nav area */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding-right: 40px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    padding: 10px;
    margin: 0;
  }

  nav li {
    font-size: 1.25em;
    border: none;
  }

  nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    line-height: 1;
    text-decoration: none;
    background: black;
    color: lightpink;
  }

  /* Tablet Viewport: Style rules for main content area */
  main ul {
    margin: 0 0 4% 10%;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {
  /*Desktop Viewport: Style rule for Header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }

  /*desktop Viewport: Style rules for nav area */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding-right: 40px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    gap: 4em;
    padding: 10px;
    margin: 0;
  }

  nav li {
    font-size: 1.25em;
  }

  nav ul li a {
    display: inline-block;
    padding: 10px 10px;
    line-height: 1;
    text-decoration: none;
    background: black;
    color: lightpink;
    border: 5px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  nav ul li a:hover {
    border-color: palevioletred;
    color: palevioletred;
    background-color: black;
    padding: 10px 20px;
  }

  /*Desktop Viewport: Style Rules for main content */
  main {
    clear: left;
  }

  section {
    grid-template-columns: repeat(3, 1fr);
  }

  main h1 {
    font-size: 1.8em;
  }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  body img {
    margin: 0 auto;
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
